.nutriBloc {
  width: 100%;
  padding: 1.5em;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.nutriBloc_picture {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.nutriBloc_picture img {
  width: 30%;
}

.nutriBloc_content {
  font-size: 0.6rem;
  margin-left: 20px;
}

.nutriBloc_content_title {
  font-weight: 400;
  font-size: 0.7rem;
  color: #9b9eac;
}

.bg_red {
  background-color: #fbeaea;
}

.bg_blue {
  background-color: #e9f4fb;
}
.bg_yellow {
  background-color: #fbf6e5;
}
.bg_pink {
  background-color: #fbeaef;
}
