.score {
  width: 30%;
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-label-number {
  font-weight: 600;
}

.progress-label-text {
  fill: #9b9eac;
}
